{% extends "base-modal.twig" %}
{% import "components/partials/title-section.twig" as titles %}

{% block head %}
{% set queryItem = posts.items.children[5] %}
<title>{{ site.name }} - {{ queryItem.title }}</title>
{{ parent() }}
{% endblock %}

{% block content %}

{% include 'components/sections/header-modal.twig' %}

<!--single-video.twig page -->

{% set category = queryItem.category %}

<div class="single single-video chosen-js">
  {% include 'components/partials/partial-breadcrumb.twig' %}

<!-- main-content + sidebar -->
  <div class="container flex">

<!-- main-content -->

    <div class="main-content main-content--left">

<!-- video embed -->
        {% set video = "https://www.youtube.com/embed/JPJjwHAIny4" %}
        {% include 'components/partials/partial-video-player.twig' %}
<!-- end video embed -->

<!-- author + social -->

        <div class="author-social-block">
          {% include 'components/partials/partial-author.twig' %}
          {% include 'components/partials/partial-social-bar--V1.twig' %}
        </div>

<!-- end author + social -->

        <div class="description">
            {{ queryItem.abstract }}
        </div>

<!-- trens section -->
        <div class="tags-section tags-section--trends">
          <span>Trends:</span>
          <ul>
            {% for relatedTag in queryItem.relatedTags %}
        				<li><a class="post__story box-shadow" href="{{ relatedTag.link }}">{{ relatedTag.name }}</a></li>
        		{% endfor %}
          </ul>
        </div>
<!-- end trends section -->

<!-- post content -->
        <div class="editorial">
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">accusantium</a> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non <strong>numquam eius modi</strong> tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">accusantium</a> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi <a href="#" class="glossary-word">tempora</a> incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          </p>
          <div class="related-post">
            {% set queryItem = galleries.items.children[3] %}
            {% include 'components/partials/partial-card-gallery-big--k2.twig' %}
            {% set partialcardgallerybigk2 = "exists" %}
          </div>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">accusantium</a> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non <strong>numquam eius modi</strong> tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">accusantium</a> doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi <a href="#" class="glossary-word">tempora</a> incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum <i>exercitationem ullam corporis suscipit</i> laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          </p>

          <h2>Caratteristiche tecniche</h2>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">accusantium</a> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non <strong>numquam eius modi</strong> tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          </p>

<!-- newsletter -->
          {% include 'components/partials/partial-newsletter.twig' %}
<!-- end newsletter -->

<!-- tag section -->
          <div class="tags-section tags-section--tags">
            {% set queryItem = posts.items.children[3] %}
            <span>Argomenti trattati:</span>
            <ul>
              {% for relatedTag in queryItem.relatedTags %}
          				<li><a class="orange-link" href="{{ relatedTag.link }}">{{ relatedTag.name }}</a></li>
          		{% endfor %}
            </ul>
          </div>
<!-- end tag section -->

        </div>

<!-- end post content -->


<!-- social section -->
        <div class="social-section">
          <h2>Seguici anche sui canali social</h2></br>

          {%
              set query = {
                      colNumber: 2,
                      componentNumber : '2',
                      type : posts,
                      component : 'partial-card-social-instagram--k2',
              }
          %}
          {% include 'components/sections/section-col-count.twig' %}
          {% set partialcardsocialinstagramk2 = "exists" %}
        </div>
<!-- end social section -->

    </div>

<!-- end main-content -->

<!-- sidebar -->

<!-- add class="flex flex--column" to .sidebar if sticky banner is the last element of sidebar -->
  <aside class="sidebar sidebar--right sticky-offset-element flex flex--column" data-sticky-offset-top="10">

    <section>
        {% include 'components/partials/partial-promobox.twig' %}
        {% set partialpromobox = "exists" %}
    </section>

    <section class="sticky-parent sticky-kit">
        {% include 'components/partials/partial-sticky-adv.twig' %}
    </section>

  </aside>

<!-- end sidebar -->

  </div>

<!-- end main-content + sidebar -->

<!-- fullwidth block -->

  <div class="container">

<!-- related posts -->

    {{ titles.title('Ti potrebbe interessare anche','','','', true) }}

    {%
        set query = {
            col1 : {
                componentNumber : '1',
                type : posts,
                component : 'partial-card-cards-big--V1',
            },
            col2 : {
                componentNumber : '1',
                type : posts,
                component : 'partial-card-post-big--k2',
            },
            col3 : {
                componentNumber : '3',
                type : posts,
                component : 'partial-card-post-small--k2',
            }
        }
    %}
    {% include 'components/sections/section-3-columns.twig' %}

<!-- end related posts -->

  </div>

  <!-- end fullwidth block -->

</div>
{% endblock %}
